<?xml version="1.0"?>
<config>
    <modules>
        <Eke_Avant>
            <version>0.1.0</version>
        </Eke_Avant>
    </modules>
    <global>
        <models>
            <eke_avant>
                <class>Eke_Avant_Model</class>
                <resourceModel>eke_avant_resource</resourceModel>
            </eke_avant>
            <eke_avant_resource>
                <class>Eke_Avant_Model_Resource</class>
            </eke_avant_resource>
        </models>
        <blocks>
            <eke_avant>
                <class>Eke_Avant_Block</class>
            </eke_avant>
        </blocks>
        <helpers>
            <eke_avant>
                <class>Eke_Avant_Helper</class>
            </eke_avant>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eke_avant>
                    <file>eke_avant.xml</file>
                </eke_avant>
            </updates>
        </layout>
    </frontend>
    <default>
        <eke_avant>
            <avant>
                <enabled>0</enabled>
            </avant>
        </eke_avant>
    </default>
</config>